{{ define "main" }}
  <div id="teaching" class="section--fullheight rad-animation-group flex-grow-1">
    <div id="main-content">
      {{ if not .Params.hideTitle }}  
      <h1 id="title">{{ .Title }}</h1>
      {{ end }}
      <article id="content">
        {{ .Content }}
      </article>
    </div>
  </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var teachingSection = document.getElementById('teaching');
        if (teachingSection) {
          teachingSection.style.minHeight = 'calc(111vh - var(--site-header-height, 120px) - var(--site-footer-height, 120px))';
          var footer = document.querySelector('footer');
          if (footer) {
            footer.style.paddingBottom = 'min(60px, var(--site-window-height) - var(--site-content-height)) !important';
            footer.style.marginTop = '50px';
          }
        }
      });
    </script>
{{ end }}
