<header class="header fixed-top rad-animation-group" id="header" style="margin-bottom: calc(0-var(--site-header-height, 120px));">
  <div class="container rad-fade-in">
    <nav class="navbar bd-navbar navbar-light p-0">
      <div class="container-fluid" style="position: relative;">
        {{ with .Parent }}
        <a class="btn btn-square" href="{{ .RelPermalink | default .Site.Home.RelPermalink }}" title="{{ .Title }}"  style=navbar-toggler>
        <svg width="24" height="24" data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"></path>
        </svg>
        </a>
        {{ else }}
        <a class="btn" href="{{ .Site.Home.RelPermalink }}">
          {{ .Site.Title }}
        </a>
        {{ end }}
  
  <a class="navbar-brand my-auto mx-auto" href="{{ .Site.BaseURL | relLangURL }}">
    {{ if .Site.Params.logo }}
      <img
      src="{{ .Site.Params.logo | absURL }}"
      alt="{{ i18n "logo_alt" }}"
      class="logo"
      />
    {{ end }}
    <div style="position:relative; transform: translateX(-15px);">
    <span>{{ i18n "logo_text1" }}</span>&ensp;<!-- JFAM edit: added space &ensp -->
    <span>{{ i18n "logo_text2" }}</span>
    </div>
  </a>
  <button
          class="navbar-toggler collapsed"
          type="button"
          style="position:relative;top:0px;"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label='{{ i18n "toggle_navigation" }}'
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  {{ if site.Menus.main }}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto" style="flex-direction: column !important;">
            {{- range .Site.Menus.main }}
            <li class="nav-item">
              <a data-scroll class="nav-link" href="{{ .URL | relURL }}"
                >{{ if .Pre }}
                  <i class="icon-{{ .Pre }}" aria-label="{{ or .Name .Pre }}"></i>
                {{ else }}
                  {{ .Name | upper }}
                {{ end }}</a
              >
            </li>
            {{- end }}
          </ul>
        </div>
  {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ partial "menu.html" . }}
