{{ define "main" }}

<div class="pdf-embed" style="max-width:100%;height:0;padding-bottom:140%;position:relative;">
	<iframe
    id="pdfFrame"
    style="position:absolute;top:25px;left:0;width:100%;height:100%;border:0;"
    aria-label="PDF Viewer">
  </iframe>
</div>

<script>
  const params = new URLSearchParams(window.location.search);
  const file = params.get("file");

  if (file) {
    document.getElementById("pdfFrame").src = "{{ .Site.BaseURL }}files/" + file;
  } else {
    document.body.innerHTML = "<h2>No PDF specified.</h2>";
  }
</script>

{{ end }}